<html>
    <head>
        <%- include("./partial/meta") %>
    </head>
    <body>
        <div class="container" style="min-height: 100%;">
            <div class="justify-content-center align-items-center">
                <h2 style="margin: 10px;">
                    There's an error while submitting your URL
                </h2>
                <a href="/">
                    <button class="btn btn-primary">
                        Home
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>